@using NaradX.Web.ViewModels.Contact
@model ContactViewModel
@{
    ViewData["Title"] = "Manage Contacts";
}

@section Styles {
    <link href="~/css/contact/contact.css" rel="stylesheet" />
}

<div class="container-fluid">
    <div class="ui-view">
        <div class="row mb-2">
            <div class="col-md-12">
                <h5>Manage Contacts</h5>
            </div>
        </div>
        <!-- Filter Box -->
        <div class="filter-box" id="filterBox">
            <form method="post" asp-action="ManageContacts">
                <div class="row">
                    <div class="col-md-3">
                        <div class="callout callout-warning mt-0 mb-0">
                            <small class="text-muted font-sm">Name</small>
                            <br>
                            <input type="text" class="form-control font-xs" placeholder="Enter name" autocomplete="off" asp-for="Filters.Name" title="Name">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="callout callout-success mt-0 mb-0">
                            <small class="text-muted font-sm">Phone No.</small>
                            <br>
                            <input type="text" class="form-control font-xs" placeholder="Enter phone number" autocomplete="off" asp-for="Filters.Phone" title="Phone">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="callout callout-primary mt-0 mb-0">
                            <small class="text-muted font-sm">Status</small>
                            <br>
                            <select class="form-control font-sm" asp-for="Filters.Status" title="Status">
                                <option value="">All</option>
                                <option value="enabled">Enabled</option>
                                <option value="disabled">Disabled</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex align-items-end">
                        <button type="button" class="btn btn-outline-danger mr-2" title="Clear All" onclick="clearFilters()">Clear All</button>
                        <button type="button" class="btn btn-outline-primary" title="Apply" onclick="">Apply</button>
                    </div>
                </div>
            </form>
        </div>

        <!-- Employee Grid -->
        <div class="card nx-card">
            <div class="card-body nx-card-body">
                <!-- Search and Actions -->
                <div class="row mb-2">
                    <div class="col-md-8">
                        <form method="post" asp-action="ManageContacts">
                            <div class="input-group">
                                <button class="btn btn-outline-secondary" id="filterBtn" type="button">
                                    <svg class="icon-filter" viewBox="0 0 24 24" width="16" height="16">
                                        <path d="M10 18h4v-2h-4v2zM3 6v2h18V6H3zm3 7h12v-2H6v2z" />
                                    </svg> Filter
                                </button>
                                <input id="searchInput" type="text" class="form-control" placeholder="Search contacts..." asp-for="Filters.SearchTerm">
                                <button class="btn btn-outline-secondary" type="button" title="Clear" onclick="clearFilters()">
                                    <i class="fa fa-remove"></i>
                                </button>
                                <button class="btn btn-outline-secondary" type="button" title="Search" onclick="applySearch();">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-4">
                        <div class="text-right">
                            <button class="btn btn-warning text-white font-weight-bold" id="newEmployeeBtn">
                                <i class="fa fa-user-plus"></i>  Add Contact
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-3">
                        <button class="btn btn-outline-primary">
                            <i class="fa fa-cloud-upload"></i>  Bulk Contact Upload
                        </button>
                    </div>
                    <div class="col-md-6"></div>
                    <div class="col-md-3">
                        <a class="nav-link font-weight-bold text-right" href="#"><i class="fa fa-download"></i> Export All</a>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table employee-table">
                                <thead>
                                    <tr>
                                        @*<th>
                                            <input type="checkbox" id="selectAll">
                                        </th> *@
                                        <th>Name</th>
                                        <th>Phone No.</th>
                                        <th>Country</th>
                                        <th>Language</th>
                                        <th>Channel</th>
                                        <th>Source</th>
                                        <th>Status</th>
                                        <th class="text-center"><i class="icon-settings"></i></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        if (Model.ContactList == null || !Model.ContactList.Items.Any())
                                        {
                                            <tr>
                                                <td colspan="8" class="text-center">No contacts found.</td>
                                            </tr>
                                        }
                                        else
                                        {
                                            foreach (var contact in Model.ContactList.Items)
                                            {
                                                <tr>
                                                    @* <td><div class="form-check"><input class="form-check-input" type="checkbox" value="@contact.Id"></div></td>*@
                                                    <td>@contact.DisplayName</td>
                                                    <td>@contact.PhoneNumber</td>
                                                    <td>@contact.Country</td>
                                                    <td>@contact.Language</td>
                                                    <td>channel name</td>
                                                    <td>@contact.ImportSource</td>
                                                    <td>
                                                        <span class="badge status-badge @(contact.Email != null ? "status-enabled" : "status-disabled")">
                                                            @(contact.Email != null ? "Enabled" : "Disabled")
                                                        </span>
                                                    </td>
                                                    <td class="text-center">
                                                        <button class="btn btn-sm btn-outline-secondary">
                                                            <i class="icon-pencil"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="text-muted">
                            Showing @Model.ContactList.FirstItemIndex to @Model.ContactList.LastItemIndex
                            of @Model.ContactList.TotalCount entries
                        </div>
                    </div>
                    <div class="col-md-6">
                        @if (Model.ContactList.TotalPages > 1)
                        {
                            <ul class="pagination pagination-sm mb-0 pull-right">
                                <!-- Previous Page -->
                                <li class="page-item @(Model.ContactList.HasPreviousPage ? "" : "disabled")">
                                    <a class="page-link" href="#" onclick="goToPage(@(Model.ContactList.PageNumber - 1))">
                                        Previous
                                    </a>
                                </li>

                                <!-- Page Numbers -->
                                @for (int i = 1; i <= Model.ContactList.TotalPages; i++)
                                {
                                    <li class="page-item @(i == Model.ContactList.PageNumber ? "active" : "")">
                                        <a class="page-link" href="#" onclick="goToPage(@i)">@i</a>
                                    </li>
                                }

                                <!-- Next Page -->
                                <li class="page-item @(Model.ContactList.HasNextPage ? "" : "disabled")">
                                    <a class="page-link" href="#" onclick="goToPage(@(Model.ContactList.PageNumber + 1))">
                                        Next
                                    </a>
                                </li>
                            </ul>
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- New Employee Modal (Right Side) -->
<div>
    <form method="post" asp-action="AddContact">
        <div class="modal-side" id="newEmployeeModal" tabindex="-1" aria-hidden="true">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">New Contact</h5>
                    <div>
                        <i class="icon-size-fullscreen expand-btn" id="expandModal"></i>
                        <i class="icon-close expand-btn" id="closeModal"></i>
                    </div>
                </div>
                <div class="modal-body pt-2">
                    <div class="row mb-2">
                        <div class="col-md-6">
                            <label class="form-label">First Name<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" autocomplete="off" placeholder="Enter first name" asp-for="Contact.FirstName">
                            <span asp-validation-for="Contact.FirstName" class="text-danger font-sm"></span>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Middle Name</label>
                            <input type="text" class="form-control" autocomplete="off" placeholder="Enter middle name" asp-for="Contact.MiddleName">
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-6">
                            <label class="form-label">Last Name<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" autocomplete="off" placeholder="Enter last name" asp-for="Contact.LastName">
                            <span asp-validation-for="Contact.LastName" class="text-danger font-sm"></span>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-6">
                            <label class="form-label">Country<span class="text-danger">*</span></label>
                            <select class="form-control" asp-for="Contact.CountryId" onchange="changeCountryCodeInPhone();">
                                <option value="1">India</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Language<span class="text-danger">*</span></label>
                            <select class="form-control" asp-for="Contact.LanguageId">
                                <option value="1">English</option>
                                <option value="2">Hindi</option>
                                <option value="3">Spanish</option>
                                <option value="4">French</option>
                                <option value="5">Other</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-6">
                            <label class="form-label">Phone Number<span class="text-danger">*</span></label>
                            <div class="input-group">
                                <span class="input-group-prepend">
                                    <span class="input-group-text">+91</span>
                                </span>
                                <input type="tel" class="form-control" placeholder="Enter phone number" autocomplete="off" asp-for="Contact.PhoneNumber">
                            </div>
                            <span asp-validation-for="Contact.PhoneNumber" class="text-danger font-sm"></span>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Email</label>
                            <input type="email" class="form-control" autocomplete="off" placeholder="Enter email address" asp-for="Contact.Email">
                            <span asp-validation-for="Contact.Email" class="text-danger font-sm"></span>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-6">
                            <label class="form-label">Company</label>
                            <input type="text" class="form-control" autocomplete="off" placeholder="Enter company name" asp-for="Contact.Company">
                            <span asp-validation-for="Contact.Company" class="text-danger font-sm"></span>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Job Tittle/Position</label>
                            <input type="text" class="form-control" autocomplete="off" placeholder="Enter job tittle" asp-for="Contact.JobTitle">
                            <span asp-validation-for="Contact.JobTitle" class="text-danger font-sm"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label">Contact Source</label>
                            <select class="form-control" asp-for="Contact.ContactSource">
                                <option value="1">Select source</option>
                                <option value="2">Website</option>
                                <option value="3">Phone Call</option>
                                <option value="4">Referral</option>
                                <option value="5">Facebook</option>
                                <option value="6">Instagram</option>
                                <option value="7">Walk-in</option>
                                <option value="8">Other</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Channel Preference</label>
                            <select class="form-control" asp-for="Contact.ChannelPreference">
                                <option value="1">Whatsapp</option>
                                <option value="2">Instagram</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger mr-3 w-15" id="cancelModal">Cancel</button>
                    <button type="submit" class="btn btn-outline-success  w-15" id="saveContact">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Modal Backdrop -->
<div class="modal-backdrop fade" id="modalBackdrop" style="display: none;"></div>

<!-- Filter Form with POST method -->
<form id="filterForm" method="post" asp-action="ManageContacts">
    @Html.AntiForgeryToken()

    <!-- Hidden fields to maintain filter state -->
    <input type="hidden" name="pageNumber" id="pageNumber" value="@Model.Filters?.PageNumber" />
    <input type="hidden" name="searchTerm" id="searchTerm" value="@Model.Filters?.SearchTerm" />
    <input type="hidden" name="name" id="nameFilter" value="@Model.Filters?.Name" />
    <input type="hidden" name="phone" id="phoneFilter" value="@Model.Filters?.Phone" />
    <input type="hidden" name="status" id="statusFilter" value="@Model.Filters?.Status" />
</form>



@section Scripts {
    <script src="~/js/contact/contact.js"></script>
}

